.formWrapper {
    width: 800px;
    margin: 0 auto;
}

.required {
    color: red;
}

.title {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

input,
textarea {
    border: 1.5px solid #cdcdcd;
    border-radius: 5px;
}

form dl dt {
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.m0 {
    margin: 0;
}
form dl {
    margin-top: 50px;
}

form dl dd {
    width: 70%;
    margin-left: 0;
    font-size: 20px;
}

form dl dd ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

form dl dd ul li {
    float: left;
    width: 50%;
}

form dl dd ul li:first-child {
    margin-right: 25px;
}

.postMark {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}

.inputForm {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.name {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.textarea {
    height: 230px;
}

/* ↓ ラジオボタン　↓ */
.radio {
    appearance: none;
    position: absolute;
}

.label::before {
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.radio:checked + .label::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 19px;
}

.label {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

/* ↑ ラジオボタン　↑ */

.btn {
    background-color: black;
    color: white;
    margin: 30px auto 20px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    position: relative;
    left: 38%;
    box-shadow: 1px 1px 2px #cdcdcd;
}

.inputExample {
    color: #cdcdcd;
    padding-left: 20px;
    margin-top: 10px;
    display: block;
    font-size: 20px;
}

/* blade.confirm.php */
.mt-0 {
    margin-top: 0;
}
.fix {
    display: block;
    text-align: center;
    color: black;
}
/* thanks.blade.php */
.thanksRelative {
    width: 800px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.absolute {
    position: absolute;
    top: 50%;
}
.thanksMessage {
    margin-bottom: 40px;
}
.btn_thanks {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #cdcdcd;
    margin-left: 45px;
}
/* management.blade.php */

input[type="date"] {
    height: 50px;
    font-size: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="date"] {
    position: relative;
}

input[type="date"]::after {
    content: attr(data-date);
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
}

input[type="date"]::-webkit-datetime-edit {
    visibility: hidden;
}
